<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.snowlive.crawler.mapper.SchoolInfoMapper">


    <select id="findAll" >
        SELECT * from school
    </select>
    <select id="findSchoolIdById" resultType="java.lang.String">
        SELECT school_id from school where id = #{id}
    </select>
</mapper>

